.index
  position fixed
  width 100%
  height 100%
  display flex
  flex-direction column
  justify-content center
  align-items center
  .index-title
    padding 20PX
    background-color #FF9292
  .index-btn
    margin-top 20PX
    width 146PX